


/* Configura o corpo da pagina principal */ 
body {
    background-color: #181818;
    color: #fff;
    font-family: sans-serif; 
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/* Configura o diâmetro da barra do titulo */
header {
    background-color: #282828;
    padding: 25px;
    width: 100%;
    position: relative;
    height: 55px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Configura o tamanho da fonte e posição do titulo */
h1 {
    margin: 0;
    font-size: 2.5em; 
}

/* Configura a barra de menu superior e o texto*/
.header-bottom {
    background-color: #383838;
    padding: 13px;
    display: flex;
    width: 110%;
    overflow-x: hidden;
    margin-top: 28px;
    margin-left: -23px;
    /*justify-content: center;*/
}

nav ul {
    margin: 0;
    margin-left: 640px;
}

/* Configura o espaçamento das opções do menu superior */
nav li {
    margin-right: 20px;
    display: inline-block;
}

/* Configura a cor do texto das opções do menu superior */
nav a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    display: flex;
    flex-shrink: 0; 
}

.search-bar select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #383838;
    color: #fff;
    margin-right: 10px;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #383838;
    color: #fff;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin-right: 70px;
}

main {
    width: 100%;
    padding-right: 250px;
    height: calc(100vh - 160px);
    overflow-y: hidden;
}

/* Configura o menu lateral */
.sidebar {
    position: fixed;
    top: 143px;  
    left: 0; 
    width: 210px; 
    background-color: #181818; 
    padding: 10px; 
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
    height: 730px;
}

.sidebar h2 {
    margin-top: 0px;
    margin: 0px;
    margin-left: 14px; 
}

/* Estilos para a lista de livros da barra lateral */
.sidebar ul {
    list-style: none; 
    margin: 15px; 
    padding: 0; 
}

/* Configura o espaçamento interior dos itens da lista na barra lateral */
.sidebar li {
    /* Define o espaçamento inferior do item da lista */
    margin-bottom: 10px; 
}

.sidebar a {
    text-decoration: none; 
    color: #fcf9f9; 
}

section {
    padding: 20px;
    height: calc(100vh - 130px);
    overflow-y: auto;
}

/* Configura a area e o tamanho dos botões de capitulo de cada livro */
.chapters {
    flex: 1; 
    width: 100px; 
    min-width: 1000px; 
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 30px;
    
}

/* Configura quantas colunas sera exibida na pagina principal */
.chapter-grid {
    display: grid; 
    grid-template-columns: repeat(10, 1fr); 
    gap: 10px; 
}

/* Configura a cor do botões */
.chapter {
    background-color: #282828; 
    border: 1px solid #fff; 
    border-radius: 15px; 
    padding: 10px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    color: #fff;
}

/* Configura a cor dos botões ao passar o mouse */
.chapter:hover {
    background-color: #319c10;
}

/* Configura a barra no rodapé da pagina */
footer {
    background-color: #383838;
    text-align: center;
    padding: fixed;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    z-index: 1;
    height: 30px;
}

/* Configura o tamanho da fonte e a altura da barra inferior da pagina */
footer p {
    font-size: 16px;
    line-height: 0.2;
}


