body {
    font-family: sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

main {
    padding: 20px;
}

section {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#destaque {
    text-align: center;
}

#novo-versiculo {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pesquisa-texto {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pesquisar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultados-pesquisa {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
}